<%- include('../header') %>

  <style>
    body {
      background-color: rgba(17, 24, 39, 1);
    }

    .container {
      background-color: rgba(17, 24, 39, 1);
    }

    .table-header th {
      background-color: #12355B !important;
      color: white;
    }

    .botao-tarefa .fas,
      .botao-tarefa {
        color: rgba(255, 255, 255, 0.603) !important;

      }

      .botao-tarefa .fas:hover,
      .botao-tarefa:hover{
        color: rgb(46, 172, 245) !important;
      }



      .btns{
        margin-bottom: 0;
      }

      .no-task-text{
        margin-bottom: 2rem;
      }

  </style>

  <body>

    <div class="container">
      <div class="row my-4">
        <div class="col-lg-12"></div>
        <div class="table-responsive">
          <table id="tarefasList" class="table table-striped  text-center my-3">
            <thread>
              <tr class="table-header">
                <th><a class="nav-link" href="/tarefa/create"> <i class="fas fa-plus me-1"></i> </a>
                </th>
                <th>ID</th>
                <th>Descrição</th>
                <th>Situação</th>
                <th>Data de Abertura</th>
                <th>Data de Conclusão</th>
                <th> </th>
              </tr>
              <tbody>
                <% if ( tarefas !='' ) { tarefas.forEach((row, index)=> { %>
                  <tr class="align-middle">
                    <td>

                    </td>
                    <td>
                      <%= row.id %>
                    </td>
                    <td>
                      <%= row.descricao %>
                    </td>
                    <td>
                      <%= row.situacao %>
                    </td>
                    <td>
                      <%= row.data_abertura.toLocaleDateString('pt-BR') %>
                    </td>
                    <td>
                      <%= row.data_conclusao.toLocaleDateString('pt-BR') %>
                    </td>
                    <td>
                      <a href="tarefa/update/<%= row.id %>" class="text-dark">
                        <i class="fas fa-edit fa-lg mx-1"></i></a>
                      <a href="tarefa/delete/<%= row.id %>" class="text-dark">
                        <i class="fas fa-trash-alt fa-lg mx-1"></i></a>
                    </td>
                  </tr>
                  <% }) } %>
              </tbody>
            </thread>
          </table>
          <% if ( tarefas=='' ) { %>
            <h2 class="text-center text-secondary mt-5 no-task-text">
              Nenhuma tarefa cadastrada.
            </h2>
            <p class="text-center text-secondary btns">
              <a class="btn btn-lg btn-custom botao-tarefa" href="/tarefa/create"> <i class="fa-solid fa-circle-plus"></i> Criar Tarefa </a>
            </p>
            <p class="text-center text-secondary btns">
              <a class="btn btn-lg btn-custom botao-tarefa" href="/"> <i class="fa-solid fa-arrow-left"></i> Tela Inicial </a>
            </p>
            <% } %>
        </div>

        <p class="text-center text-secondary btns">
          <a class="btn btn-lg btn-custom botao-tarefa" href="/"> <i class="fa-solid fa-arrow-left"></i> Tela Inicial </a>
        </p>
      </div>
    </div>

  </body>

  <%- include('../footer') %>